body {
    background-color: Background;
}

#column {
	margin: 0 auto;
	width: 976px;
}

#towersContainer {
	margin-bottom: 10px;
}

#towersContainer button {
	width: 322px;
	text-transform: uppercase;
	background: #259c6b;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
  	border-radius: 3px;
  	text-shadow: 7px 1px 8px #666666;
  	font-family: Courier New;
  	color: #ffffff;
  	font-size: 29px;
  	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

#towersContainer button:hover {
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;
}
